{% extends "includes/layout.html" %}

      <!--Carousel Bootstrap-->

      {% block content %}
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://en.pimg.jp/071/430/449/1/71430449.jpg" class="d-block w-100" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
      </div>
      {% endblock %}
      

